* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3b4664;
  color: #F1F1F1;
}


.container {
  display: flex;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 20rem;
  height: 30rem;
  margin: 6rem auto;
}

.header-main {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}
.header-main h3 {
  font-weight: 300;
}
.header-main p {
  margin-left: 4rem;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.row {
  display: flex;
  padding: 0.5rem;
}
.upper-row {
  margin-top: 0.5rem;
}
.each-key,
.del-key {
  width: 5rem;
  height: 3.5rem;
  border-radius: 5px;
  margin: 0 0.2rem;
  cursor: pointer;
  background-color: #eae3db;
  color: #454954;
  font-weight: bold;
  padding: 1rem;
  border-bottom: 3px solid #a3a2a1;
}

.each-key:hover {
  background-color: #b3b3b3;
}

.input-section {
  margin: 1rem 0;
  padding: 1.8rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: #181f32;
  text-align: right;
  color: #fff;
}
.half-button {
  width: 10rem;
  cursor: pointer;
  margin: 0 0.3rem;
  border-bottom: #191c25 3px solid;
  background-color: #425076;
  border-radius: 5px;
  font-weight: bold;
  color: #eae3db;
}
.half-button:hover {
  background-color: #253057;
}
.equal-button {
  background-color: #d13f2f;
  border-bottom: #70241c 3px solid;
}
.equal-button:hover {
  background-color: #902b20;
}
.keys {
  background-color: #252d44;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
}
.del-key {
  background-color: #64719b;
  border-bottom: #4b5a86 3px solid;
  color: #eae3db;
}
.del-key:hover {
  background-color:#3a4c8d;
}
.themes {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgba(41, 49, 71, 0.9);
  color: white;
}
.theme-1:hover {
  background-color: rgba(29, 34, 48, 1);
  color: #fff;
}
.theme-2:hover {
  background-color: rgba(255, 255, 255, 0.293);
  color: #000;
}
.theme-3:hover {
  background-color: rgba(12, 2, 22, 0.5);
  color: #fff;
}
.github-link {
  margin: 2rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.default-theme {
  background-color: #3b4664;
  color: #F1F1F1;
}

.white-theme {
  background-color: white;
  color: black;
}
.blue-theme {
  background-color: #17062A;
  color: white;
}
